<h1>To-Do Application </h1>
<hr>

<div class="container">

  <form (ngSubmit) ="onSubmit (taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task">Task</label>
      <input type="text" class="form-control" id="task" placeholder="Enter Task" [(ngModel)]="task.taskName" name="task" required>
      <small id="errorMessage" class="form-text text-danger">Required Field</small>
    </div>

    <button id = "submitButton" type="submit" class="btn btn-primary">Submit</button>
  </form>

<hr>

<table class="table">
  <thead>

    <tr >
      <td >Task</td>
      <td scope="col">Completed</td>
      <td scope="col">Delete</td>
    </tr>

  </thead>
  <tbody>
    @for (t of taskArray; track $index) {
    <tr>
      <td>{{ t.taskName }}</td>
      <td><input id="myCheckbox" type="checkbox" value="" id="defaultCheck1"></td>
      <td><button class = "btn btn-danger btn-small" (click)="deleteTask($index)" >Delete</button></td>
    </tr>
  }
  </tbody>
</table>

</div>
